$container: 1440px;
$dark-gray-color: #232323;
$light-gray-color:#e9e7e7;
$light-gray-color-08opacity:rgba(233, 231, 231, 0.9);
$medium-gray-color:#919191;
$gray-color: #c4c4c4;
$button-width_150-210: clamp(9.375rem, 8.304rem + 5.36vw, 13.125rem);
$h2_fz_38-56: clamp(2.375rem, 2.054rem + 1.61vw, 3.5rem);