.footer {
  background-color: $gray-color;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__wrapper {
    max-width: 1220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    & > h2 {
      width: 100%;
      font-size: $h2_fz_38-56;
      line-height: 1;
      letter-spacing: -2.04px;
      text-align: center;
    }

    & + div {
      margin-top: 60px;
      display: flex;
      flex-direction: column;

      & > p {
        font-size: 16px;
        text-align: center;
        font-family: "Lato-Regular";
        letter-spacing: -0.52px;
      }
    }
  }
 
  &__links-container {
    max-width: 830px;
    width: 100%;

    & > h3 {
      font-family: "Lato-Black";
      letter-spacing: -0.63px;
      font-size: 25px;
      margin-bottom: 20px;
      text-align: center  ;
    }
    & a {
      font-size: 16px;
      letter-spacing: -0.52px;
      font-family: "Lato-Regular";

      &:hover {
        font-family: "Lato-Bold";
      }
    }
  }

  &__links-wrap {
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    gap: 20px;
    text-align: center;

   
  }

  .links {
    &__col-wrap {
      width: 50%;
      display: flex;
      flex-flow: row wrap;
      gap: 20px;
    }
    &__col {
      flex: 185px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  &__scribble {
    width:clamp(18.75rem, 4.911rem + 22.32vw, 25rem);
    height: clamp(8.063rem, 1.835rem + 10.04vw, 10.875rem);
    background: url('../img/sprites/lines/scribble_dark-2.png') no-repeat center center/cover;
    position: absolute;
    bottom: 10%;
    left: 1%;
    display: none;
  }

  @media screen and (min-width: 992px) {
    &__wrapper {
      box-sizing: border-box;
      flex-direction: row;
      gap: 60px;
      padding-left: 30px;

      & > h2 {
        max-width: 210px;
      }

      & + div {
        flex-direction: row;
        & > p {
          font-size: 21px;
        }
      }
    }
    
    &__links-container {
      & a {
        font-size: 21px;
      }
    }
    &__links-wrap {
      flex-flow: row nowrap;
    }
    &__scribble {
      display: block;
    }
  }

  @media screen and (min-width: 1158px) {
    & {
      padding: 110px 0;

      &__wrapper > h2 {
        text-align: left;
      }
      &__links-container > h3 {
        text-align: left;
      }
      &__links-wrap {
        text-align: left;
      }
    }
  }
}
