@font-face {
  font-family: "Cardo-Regular";
  src: url("../fonts/Cardo/Cardo-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Cardo-Bold";
  src: url("../fonts/Cardo/Cardo-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato/Lato-Black.woff") format("woff");
  font-weight: 900;
}